/* sheared font */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.butten-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 30px 19px 36px;
}

/* Nav related CSS */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 180px;
}

.nav-title {
    color: var(--Dark-01, #181818);

    font-size: 45px;

    font-weight: 800;

}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}


/* header related css */

.header {
    background: #FFF8F3;
    /* background-image: url(../images/header_bg.png); */
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');





}

.banner {
    padding: 30px 30px 30px 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner-content {
    max-width: 500px;
}

.picture {
    width: 400px;
    /* background-image: url('../images/header_bg.png'); */

}

.hi {
    font-size: 45;
    color: 181818;
    margin-bottom: 0px;

}

.title {
    font-size: 55px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.me {
    font-size: 18px;
    font-weight: 400px;
}

/* main section styles */
.main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 90px;
}

/* about section styles */

.about {
    padding: 230px;
    font-size: 18px;
    font-weight: 10px;
    margin: 10px 0px;
}

.section-tital {
    color: var#757575;
    text-align: center;
    font-size: 38px;
    font-weight: 400;
}

.section-disc {
    color: black;
    text-align: center;
    font-size: 18px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-dIsc {
    padding: 110px;
    font-size: 15px;

}

.info-title {
    font-size: 12px;
}


/* What I Do section */

#what-i-do-disc {
    padding: 30px 150px;
}

.container {
    display: flex;
}

.skill-container {
    display: flex;
    gap: 10px;
    /* margin: 0px, 11150px, 50px ; */
}

.skill {
    padding: 50px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-disc {
    color: #757575;
    font-size: 16px;
}

/* Resume section */
.resume-column-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    gap: 30px;
    /* margin: 0px 60px; */
    margin: 100px;
    padding-left: 90px;
}

.resume-items-disc {
    color: #757575;
    font-size: 12px;
    font-weight: 700;

}

.resume-items-title,
.resume-items-inst {
    color: #030303;
    font-size: 20px;
}

.download-cv {
    text-align: center;
}

/* footer column */
footer {
    display: flex;
    background: #FFF8F3;
    padding: 130px 230px;
    margin-top: 100px;
    gap: 100px;
}

.footer-column {
    width: 50%;
}

.social-link a{
    margin-right: 20px;
}

.contact,
input[type="text"], .contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 25px;
    padding: 5px 20px;
    color: #757575;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}
.fa-solid{
    color: #030303;
}